#category-grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px;
  min-height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 16px;
}

@media (min-width: 1001px) {
  #category-grid {
    padding: 16px 20px 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: none;
  }
}
