@import url("../components/header/header.css");
@import url("../components/category-grid/category-grid.css");
@import url("../components/category-card/category-card.css");

:root {
  --header-height: 112px;
}

@media (min-width: 801px) {
  :root {
    --header-height: 226px;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f1ea;
  color: #ffffff;
}
